<h2>Welcome to NYTimelines!</h2>
<p>Use NYTimelines to make collections of New York Times articles from our archive.</p>
<p>Browse the existing timelines, or dive in right away and create your own.</p>
<button>
<%= link_to "Browse Timelines", timelines_path %>
</button>
<button>
<%= link_to "Create Timeline", new_timeline_path %>
</button>